<!DOCTYPE html>
<html lang="en">

<head>
    <title>Book Collection</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/layout.css">
    <link rel="stylesheet" href="/modules.css">
</head>

<body>
    <main>
        <h4>My Book Collection</h4>
        <% books.forEach( book => { %>
            <!-- <img src="<%= book.imgURL %>" alt="image" /> -->
            <h3>
                <%= book.title %>
            </h3>
            <h4>
                <%= book.author %>
            </h4>
            <p>
                <%= book.description %>
            </p>
            <% }) %>
    </main>
</body>

</html>